@import "../../mixins/index";
@import "../../variables/index";

&--white {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 4px;
  height: 43px;
  padding: 0 49px;
  text-transform: uppercase;
  @include animate-transition(background-color);
  @include typo-button;
  color: $color-button;

  &:hover {
    color: $color-white;
    background-color: $color-blue-h1;
    border: 1px solid $color-white;
  }
}
